/* ################################ */
/* reset */

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: 'Bai Jamjuree', sans-serif;
  user-select: none;
}

.centerize {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

html {
  height: 100%;
  touch-action: manipulation;
}

body {
  height: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  border-radius: 20px;
  background-color: #CBD;
  color: #327;
  border: 2px solid #327;
  font-size: 30px;
  padding: 10px 20px;
  cursor: pointer;
}
.button:active {
  background-color: #DCE;
}

#game {
  position: relative;
  background-color: white;
  width: 500px;
  height: 700px;
  overflow: hidden;
  transform-origin: top left;
}

div.scene, #cover-wrapper {
  display: none;
  position: absolute;
  width: 500px;
  height: 700px;
  left: 0; top: 0;
}

#cover-wrapper {
  background-color: rgba(250, 230, 230, 0.8);
}

.cover {
  height: 100%;
}

/* ################################ */
/* preload scene */

#scene-preload > div {
  height: 100%;
}

#pane-loading {
  font-size: 30px;
  text-align: center;
}

/* ################################ */
/* menu scene */

/* ################################ */
/* game scene */

#pane-question {
  position: absolute;
  top: 100px; left: 0;
  width: 100%; height: 250px;
  border: 1px solid #ddd;
  font-size: 48px;
}

#pane-answers {
  position: absolute;
  top: 350px; left: 0;
  width: 100%;
}

.button-answer {
  margin: 10px;
  height: 100px;
  font-size: 40px;
}

#pane-timer {
  height: 40px;
  width: 100%;
}

#timer-bar {
  height: 100%;
  background-color: blue;
}
