/* ################################ */
/* reset */

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: 'Bai Jamjuree', sans-serif;
  user-select: none;
}

.centerize {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

html {
  height: 100%;
  touch-action: manipulation;
}

body {
  height: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  border-radius: 20px;
  background-color: #228;
  color: white;
  font-size: 42px;
  padding: 10px 20px;
  cursor: pointer;
  text-shadow: 1px 1px 2px black;
}
.button:active {
  background-color: #55b;
}
.button.button-big {
  padding: 20px 50px;
  font-size: 50px;
}

#game {
  position: relative;
  background-color: #fff4ee;
  background: radial-gradient(circle, #fff4ee 0%, #f7ebff 100%);
  width: 500px;
  height: 700px;
  overflow: hidden;
  transform-origin: top left;
}

div.scene, #cover-wrapper {
  display: none;
  position: absolute;
  width: 500px;
  height: 700px;
  left: 0; top: 0;
}

.cover, .fullscreen {
  height: 100%;
}

/* ################################ */
/* preload scene */

#scene-preload > div {
  height: 100%;
}

#pane-loading {
  font-size: 30px;
  text-align: center;
}

/* ################################ */
/* menu scene */

#title {
  position: absolute;
  top: 180px; left: 0; width: 100%;
  font-size: 96px;
  text-align: center;
  text-shadow: 2px 2px 0 white, 5px 4px 0 rgba(0,0,0,0.15);
  color: #b02;
  animation: title-fadein 2s;
}

@keyframes title-fadein {
  from { opacity: 0; top: 0; }
  to { opacity: 1; top: 180px; }
}

#button-start-wrapper {
  position: absolute;
  top: 400px; left: 0;
  height: 150px; width: 100%;
}

/* ################################ */
/* game scene */

#pane-question {
  position: absolute;
  top: 115px; left: 20px;
  width: 460px; height: 230px;
  font-size: 48px;
  background-color: white;
  box-shadow: 0 0 10px 5px white;
  border-radius: 10px;
}

#pane-answers {
  position: absolute;
  top: 350px; left: 0;
  width: 100%;
}

.button-answer {
  margin: 10px;
  height: 100px;
  font-size: 42px;
}

.button-answer.correct,
.button-answer.correct:active {
  background-color: #2b2;
}
.button-answer.incorrect,
.button-answer.incorrect:active {
  background-color: #b22;
}

#pane-progress {
  position: absolute;
  left: 0; top: 0; width: 100%; height: 60px;
  font-size: 30px;
  padding: 10px;
  text-align: center;
}

#pane-timer {
  position: absolute;
  left: 0; top: 60px; width: 100%; height: 40px;
}

#timer-bar {
  height: 100%;
  background-color: blue;
}

/* ################################ */
/* special screens */

#cover-fail {
  background-color: rgba(250, 230, 230, 0.9);
}

#fail-image {
  width: 72px; height: 72px;
}
#fail-line-0 {
  margin: 20px 0;
  font-size: 48px;
  font-weight: bold;
  text-shadow: 2px 2px 2px #bbb;
}
#fail-line-1 {
  margin: 0 0 20px;
  font-size: 36px;
  text-shadow: 2px 2px 2px #bbb;
}

#cover-countdown {
  background-color: black;
}
#countdown-number {
  color: white;
  font-size: 120px;
  font-weight: bold;
}

#easy-win-title {
  font-size: 80px;
  position: relative;
  animation: title-fadein-win 2s;
}
@keyframes title-fadein-win {
  from { opacity: 0; top: -50px; }
  to { opacity: 1; top: 0; }
}

#easy-win-image {
  margin: 30px 0;
}
