/* ################################ */
/* reset */

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: 'Bai Jamjuree', sans-serif;
  user-select: none;
}

.centerize {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

html {
  height: 100%;
  touch-action: manipulation;
}

body {
  height: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  border-radius: 20px;
  background-color: #228;
  color: white;
  font-size: 42px;
  padding: 10px 20px;
  cursor: pointer;
  text-shadow: 1px 1px 2px black;
}
.button:active {
  background-color: #55b;
}
.button.button-big {
  padding: 20px 50px;
  font-size: 50px;
}

.emp {
  color: #e22;
}
.tiny {
  font-size: 70%;
}

#game {
  position: relative;
  background-color: #fff4ee;
  background: radial-gradient(circle, #f0ffff 0%, #c3f1fb 100%);
  width: 500px;
  height: 700px;
  overflow: hidden;
  transform-origin: top left;
}

div.scene, #cover-wrapper, #hard-bg {
  display: none;
  position: absolute;
  width: 500px;
  height: 700px;
  left: 0; top: 0;
}

.cover, .fullscreen {
  height: 100%;
}

#game.hard #hard-bg {
  display: block;
  background: radial-gradient(circle, #fffbcf 0%, #ff8d8b 100%);
  animation: bg-fadein 2s;
}
@keyframes bg-fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

/* ################################ */
/* preload scene */

#scene-preload > div {
  height: 100%;
}

#pane-loading {
  font-size: 30px;
  text-align: center;
}

/* ################################ */
/* menu scene */

#title-easy, #title-hard {
  position: absolute;
  top: 180px; left: 0; width: 100%;
  font-size: 96px;
  text-align: center;
  text-shadow: 2px 2px 0 #cfc, 5px 4px 0 rgba(0,0,0,0.15);
  color: #2b2;
  animation: title-fadein 2s;
}
@keyframes title-fadein {
  from { opacity: 0; top: 0; }
  to { opacity: 1; top: 180px; }
}
#game #title-easy { display: block; }
#game.hard #title-easy { display: none; }
#game #title-hard {
  display: none;
  text-shadow: 2px 2px 0 #666, 5px 4px 0 rgba(0,0,0,0.15);
}
#game.hard #title-hard { display: block; }

#button-start-wrapper {
  position: absolute;
  top: 400px; left: 0;
  height: 150px; width: 100%;
}

#checkbox-hard-wrapper {
  position: absolute;
  top: 550px; left: 110px; right: 110px;
  height: 100px;
  flex-direction: row;
  font-size: 36px;
  background-color: rgba(255, 200, 200, .6);
  border-radius: 10px;
  cursor: pointer;
}
#checkbox-hard {
  width: 50px;
  height: 50px;
  background-color: white;
  color: white;
  border: 3px solid #222;
  margin-right: 20px;
  text-align: center;
  font-weight: bold;
  border-radius: 10px;
}
#game.hard #checkbox-hard {
  color: black;
}

/* ################################ */
/* game scene */

#pane-question {
  position: absolute;
  top: 115px; left: 20px;
  width: 460px; height: 230px;
  padding: 20px;
  font-size: 48px;
  background-color: #ffffffaa;
  box-shadow: 0 0 10px 5px #ffffffaa;
  border-radius: 10px;
  text-align: center;
}

#pane-answers {
  position: absolute;
  top: 350px; left: 0;
  width: 100%;
}

#pane-answers {
  padding: 20px 10px;
}
.button-answer {
  margin-bottom: 10px;
  height: 100px;
  font-size: 42px;
}
#pane-answers.grid .button-answer {
  height: 150px;
  width: 235px;
  float: left;
}
#pane-answers.grid .button-answer:nth-child(odd) {
  margin-right: 10px;
}

.button-answer.correct,
.button-answer.correct:active {
  background-color: #2b2;
}
.button-answer.incorrect,
.button-answer.incorrect:active {
  background-color: #b22;
}

#pane-progress {
  position: absolute;
  left: 0; top: 0; width: 100%; height: 60px;
  font-size: 30px;
  padding: 10px;
  text-align: center;
}

#pane-timer {
  position: absolute;
  left: 0; top: 60px; width: 100%; height: 40px;
}

#timer-bar {
  height: 100%;
  background-color: #00c;
}
#game.hard #timer-bar {
  background-color: #a00;
}

/* ################################ */
/* special screens */

#cover-fail {
  background-color: rgba(250, 230, 230, 0.9);
}

#fail-image {
  width: 72px; height: 72px;
}
#fail-line-0 {
  margin: 20px 0;
  font-size: 48px;
  font-weight: bold;
  text-shadow: 2px 2px 2px #bbb;
}
#fail-line-1 {
  margin: 0 0 20px;
  font-size: 36px;
  text-shadow: 2px 2px 2px #bbb;
}
#fail-line-2 {
  margin: 0 0 20px;
  font-size: 36px;
  text-shadow: 2px 2px 2px #bbb;
  color: #b00;
}

#cover-countdown {
  background-color: black;
}
#countdown-number {
  color: white;
  font-size: 120px;
  font-weight: bold;
}

#easy-win-title {
  font-size: 80px;
  position: relative;
  animation: title-fadein-win 2s;
}
@keyframes title-fadein-win {
  from { opacity: 0; top: -50px; }
  to { opacity: 1; top: 0; }
}

#easy-win-image {
  margin: 30px 0;
}
